<% include ./partials/header %>
    <div class="container">
        <div class="jumbotron p-3 mb-2 bg-gradient-secondary text-white">
            <h1 class="display-5">Movie Search App</h1>
            <form action="/results" method="GET">
                <input type="text" style="width: 300px;" placeholder="search for movie or tv series here..." name="search">
                <button class="btn btn-primary">Search</button>
            </form>
        </div>
    </div>

    <% include ./partials/footer %>